@media (max-width: 768px) {
  .wrapper > header {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    height: auto;

    .logoLink {
      margin: 0;
    }

    h1 {
      margin-top: 1rem;
      grid-row: 1;
      grid-column: 1/2;
    }

    nav {
      grid-column: 1/2;
      grid-row: 2;

      ul {
        margin: 0;

        li {
          margin-left: 1rem;
        }
      }
    }

    div {
      grid-row: 2;
      grid-column: 1/2;
      
    }
  }

  main > .recentHeader {
    width: 80%;
  }

  main > .recentPosts {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 0;
  }

  main > .fullArticleContainer {
    width: 100%;

    p {
      padding: 2rem 0.2rem;
    }
  }
}
