$font: "Martel", serif;
$buttonFont: "Rajdhani", sans-serif;

$primaryAccent: #04009a;
$secondaryAccent: #3edbf0;
$tertiaryAccent: #77acf1;
$secondaryBg: #f0ebcc;

$boxShadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
