@import './normalize.scss';
@import './Publish.scss';
@import './variables.scss';
@import './RecentPosts.scss';
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;700&display=swap');



.wrapper {
  width: 100%;
  background: linear-gradient(0deg, rgba(146,149,148,1) 5%, rgba(255,255,255,1) 48%, rgba(176,176,176,1) 93%);
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  height: 6rem;
  background-color: white;
  display: flex;
  justify-content: space-evenly;

  nav ul {
    display: flex;

    li {
      padding: 2rem;
      list-style-type: none;

      .publish-button {
        background-color: green;
        border: none;
        cursor: pointer;
      }

      .log-button { 
        border: none;
        color: white;
        background-color: teal;
        cursor: pointer;
      }
    }
  }
}

main {
  display: flex;
}

