section {
  width: 100%;
  margin-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  margin: 0 auto;

  input {
    width: 100%;
    height: 3rem;
    border: none;
    font-size: 1.8rem;
    box-shadow: $boxShadow;
  }

  textarea {
    width: 100%;
    resize: none;
    height: 60vh;
    font-size: 1.5rem;
    border: none;
    box-shadow: $boxShadow;
  }

  button {
    border: none;
    background-color: $primaryAccent;
    color: white;
    height: 2.5rem;
    width: 50%;
    margin-top: 1.5rem;
    font-family: $buttonFont;
    margin: 2rem;
  }

  ul {
    margin: 0;
    padding: 0;
    width: 85%;

    li {
      list-style-type: none;
    }
  }
}

.addElementContainer {
  display: flex;
  align-items: center;

  ul {
    display: flex;

    li {
      list-style-type: none;
      width: 11rem;

      button {
        width: 80%;
        height: 2.5rem;
        margin: 0;
        box-shadow: $boxShadow;
      }
    }
  }
}

.addElementContainer > button {
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: $boxShadow;
}

.inputContainer {
  li {
    margin-top: 1.5rem;
  }
}

.submitted {
  text-align: center;
  h6 {
    font-size: 2rem;
  }
}

.pleaseLog {
  text-align: center;
}
