.recentPosts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
  gap: 2rem;
  padding: 2rem;
  font-family: $font;

  li {
    height: 25rem;
    background-color: #fff;
    list-style: none;
    display: grid;
    grid-template-rows: 6rem auto 2rem;


    h3 {
      text-align: center;
      font-weight: 700;
      font-size: 2rem;
      grid-row: 1/2;
    }

    p {
      font-weight: 400;
      font-size: 1.4rem;
      padding: 1rem;
      line-height: 2.2rem;
      grid-row: 2/3;
      overflow: hidden;
    }

    button {
      grid-row: 3/4;
    }

    .fade {
      grid-row: 2/4;
      background: linear-gradient(0deg, rgba(255,255,255,1) 15%, rgba(249,249,249,1) 34%);
    }

  }
}




